table {
    border: 2px solid black;
    width: 98%;
    height: flex;
}

th {
    border-bottom: 2px solid black;
}

td {
    text-align: center;
    border-bottom: 0.5px solid black;
    height: 10px;
}